@media screen and (max-width: 1429px){
    .search-form input{
        width: 400px;
    }

    .container{
        padding: 0 20px;
    }

    .usability__wrapper{
        justify-content: center;
    }

    .title-centre{
        text-align: center;
    }

    .usability__subtitle{
        margin: 30px auto;
        text-align: center;
    }

    #requests{
        max-width: 1345px;
    }

    .description-services__wrapper{
        justify-content: center;
    }

    .facilities__wrapper{
        justify-content: center;
    }

    .products__wrapper{
        justify-content: center;
    }

    .facilities__title{
        text-align: center;
    }

    .products__links{
        justify-content: center;
    }
    
    .facilities__text{
        margin: 30px auto;
        text-align: center;
    }

    .blog__wrapper{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .products__slider-bar{
        width: 65%;
    }

    .products__bar-active{
        width: 150px;
    }

    .products__slider-link{
        right: 122px;
    }

    .popup__content{
        max-width: 1079px;
    }

    .popup__close-btn {
        
        right: 32px;
    }

    .popup-image img{
        height: 60% ;
    }

    .banner__card-wrapper{
        justify-content: center;
    }
    .collection__wrapper{
        justify-content: center;
    }

    .reviews__wrapper{
        justify-content: center;
    }

    .materials__wrapper{
        justify-content: center;
    }

    .reviews__video-wrapper{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1296px){
    .header__inputs{
        flex-direction: column-reverse;
        gap: 15px;
    }

    .header__menu-info{
        justify-content: space-between;
    }

    .requests__image{
        display: none;
    }

    .requests__background{
        display: none;
    }

    #requests{
        max-width: 900px;
        padding: 60px;
    }

    .footer__wrapper{
       flex-direction: column;
       align-items: center;
       gap: 30px;
    }

    .products__slider-bar{
        width: 45%;
        left: 27%;
    }

    .products__bar-active{
        width: 150px;
    }

    .products__slider{
        margin-left: 180px;
    }
    .footer__end{
        
    }

    .popup__content{
        width: 96%;
    }

    .popup__close-btn {
        
        right: 30px;
    }

    

    #banner::after{
        display: none;
    }

    #banner::before{
        background: url(assets/banner-background.png) no-repeat left / cover;
    }

    #design__form{
        width: 98%;
    }

    .design__form-title {
        font-size: 36px;
    }

    .design__form-background{
        width: 68%;
        height: 68%;
    }

    .design__form-background-shape{
        width: 48%;
        height: 48%;
    }

    .design__form-background-shape-orange{
        width: 28%;
        height: 28%;
    }
}

@media screen and (max-width: 1084px){
    #essential{
        max-width: 765px;
        margin: 80px auto;
    }

    .slider__bar{
        left: 23%;
    }

    .description__wrapper{
        flex-direction: column;
        align-items: center;
    }

    .description__title{
        margin-bottom: 20px;
        text-align: center;
    }

    .description__text:first-of-type{
        margin-bottom: 0px;
    }

    .products__slider-bar {
        width: 34%;
        left: 33%;
    }

    .products__bar-active{
        width: 100px;
    }

    .header__nav-item{
        font-size: 12px;
    }

    .header__promo{
        gap: 90px;
    }

    .popup__content{
        flex-direction: column;
        width: 94%;
        gap: 20px;
    }
    
    .popup-image img{
        max-height: 328px;
    }
    
    .popup__title{
        font-size: 16px;
    }
    
    .popup__text{
        max-width: 615px;
        font-size: 14px;
    }
    
    .popup__link{
        font-size: 14px;
        max-width: 212px;
        padding: 11px 40px;
    }

    .design__form-background, .design__form-background-shape, .design__form-background-shape-orange{
       display: none;
    }

    #design__form {
        width: 63%;
        background: radial-gradient(99.36% 102.39% at 100% 76.24%, rgba(211, 229, 207, 0.2) 0%, rgba(211, 229, 207, 0.4) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(68.66% 43.09% at 0% 100%, rgba(207, 213, 229, 0.34) 0%, rgba(207, 213, 229, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFEFC;
    }
    .design__form-wrapper{
    flex-direction: column;
    align-items: center;
    }

    .reviews__video-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .materials__top{
        gap: 417px;
    }

    .materials__top-title::after{
        width: 346px;
    }
}

@media screen and (max-width: 862px){
    .header__menu-wrapper{
        display: none;
    }

    .mobile__icons{
        display: flex;
    }

    .header__wrapper{
        justify-content: space-between;
    }

    .products__slider-link {
        left: 320px;
        top: 123%;
}

.products__slider-bar {
    width: 34%;
    left: 40%;
}

.products__bar-active {
    width: 100px;
}

.header__promo-info{
    font-size: 12px;
}

.header__promo {
    gap: 28px;
}

.requests__action-wrapper{
    flex-direction: column;
}

.requests__action-input{
    max-width: 350px;
}

.requests__button-wrapper{
    flex-direction: column;
    align-items: flex-start;
}

#requests {
    max-width: 500px;
    
}

.materials__top-title::after {
    width: 249px;
}

.materials__top {
    gap: 301px;
}

}

@media screen and (max-width: 717px){
    #essential {
        max-width: 460px;
    }

    .essential__info-title {
        font-size: 29px;
    }

    .essential__info {
        padding: 40px 30px 134px 30px;
}

.essential__info-slider-left {
    top: 87%;
    left: 11px;
}

.essential__info-slider-right {
    top: 87%;
    left: 66px;
}

.slider__bar {
    max-width: 174px;
    bottom: 51px;
    left: 33%;
}

.footer__wrapper {
    gap: 30px;
}

.footer__end{
    max-width: 701px;
}

.footer__start{
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
}

#usability {
    
    display: none;
}

.products__slider-link {
    left: 249px;
}

.products__slider-bar {
    
    left: 44%;
}

.products__slider {
    margin-left: 145px;
}
.header__promo{
    padding: 7px 20px;
}

.popup__content{

}

.banner__slider-bar{
    bottom: 34px;
    left: 22%;
}

.banner__slider-bar-active{
    bottom: 34px;
    left: 22%;
}

#collections{
    display: none;
}

.design__form-title{
    font-size: 24px;
}

.materials__top {
    gap: 212px;
}

.materials__top-title::after {
    width: 148px;
}

.video__image {
    width: 95%;
}

.video__image-btn{
    top: 115px;
    left: 243px;
}

}

@media screen and (max-width: 576px){
    .products__slider {
        margin-left: 22px;
    }

    .products__slider-bar {
        width: 58%;
        left: 41%;
    }

    .products__bar-active {
        width: 100px;
    }

    .products__slider-link {
        left: 171px;
    }

    

    #essential .container{
        padding: 0;
    }

    #essential{
        max-width: 334px;
    }

    .essential__info-slider-right {
        top: 87%;
        left: 58px;
    }

    .header__promo-button{
        display: none;
    }

    .header__promo{
        padding: 7px 20px;
    }
    .header__promo-info {
        font-size: 12px;
        max-width: 200px;
    }

    #description{
        display: none;
    }

    .facilities__wrapper{
        margin-bottom: 30px;
    }

    .facilities__title{
        text-align: left;
        font-size: 26px;
    }

    .facilities__text{
        text-align: left;
    }

    .products__links {
        justify-content: flex-start;
        overflow-x: hidden;
    }

    .products__item:not(:first-of-type){
        display: none;
    }

    .products__wrapper {
        
    }

    #requests {
        max-width: 334px;
        padding: 30px;
    }

    #requests .container{
        padding: 0;
    }

    .requests__title {
        font-size: 24px;
    }

    .requests__action-input {
        min-width: 274px;
    }

    .requests__button{
        padding: 20px 49px;
    }

    
    .footer__catalogue{
        padding-right: 0;
    }

    .footer__info-link {
        font-size: 16px;
    }

    .menu__info-number{
        font-size: 18px;
    }

    .footer__end{
        justify-content: space-between;
    }

    .blog__item:not(:first-of-type){
        display: none;
    }

    #facilities .slider__bar-wrapper{
        display: flex;
    }

    .facilities__item:not(:first-child){
    display: none;
}

.banner__slider-bar {
    bottom: 37px;
    left: 26%;
}

.banner__slider-bar-active {
    bottom: 37px;
    left: 26%;
}

.reviews__item:not(:first-of-type){
    display: none;
}

.materials__top {
    display: none;
}

.materials__item:not(:first-of-type) {
    display: none;
}

.usability__subtitle{
    text-align: left;
}

.video__image {
    width: 100%;
}

#design__form {
    width: 67%;
    padding: 37px 27px;
}

.design__form-title {
    font-size: 20px;
}

}
@media screen and (max-width: 415px){
    .products__slider-bar {
        width: 58%;
        left: 41%;
    }

    .products__bar-active {
        width: 100px;
    }

    .products__slider-link {
        left: 126px;
    }

    .basement__left{
        max-width: 162px;
    }

    .products__slider-link{
        font-size: 14px;
        min-width: 150px;
        left: 111px;
    }

    .mobile-search-form input{
        max-width: 320px;
    }

    .banner__slider-bar{
        bottom: 52px;
        left: 35%;
    }

    .banner__slider-bar-active {
        bottom: 52px;
        left: 35%;
    }

    .video__image {
        width: 100%;
    }

    .video__image-btn {
        top: 69px;
        left: 147px;
        padding: 11px;
    }

    .video__title{
        font-size: 24px;
        text-align: left;
    }
    .reviews__video-wrapper{
        gap: 30px;
    }

    .banner__description-card:not(:first-of-type){
        display: none;

    }

    .description__title{
        text-align: left;
        font-size: 26px;
    }

    .collection__item:not(:first-of-type){
        display: none;
    }

    #design__form {
        width: 87%;
        padding: 19px 11px;
    }

    .design__form-title {
        font-size: 19px;
    }

    .blog__item-badge{
        top: 122px;
        left: 30px;
    }

    .blog__item-title{
        font-size: 16px;
    }

    .blog__item-text{
        font-size: 14px;
    }
}
